<% layout("layouts/boilerplate") %>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="name">Campground Name:</label>
                <input class="form-control" type="text" id="name" name="campground[title]" value="<%=campground.title %> " required>
                <div class="invalid-feedback">
                    Please enter a valid campground name
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="city">City:</label>
                <input class="form-control" type="text" id="city" name="campground[city]" value="<%= campground.city %> " required>
                <div class="invalid-feedback">
                    Please enter a valid campground city
                </div>
            </div> 
            <div class="mb-3">
                <label class="form-label" for="state">State:</label>
                <input class="form-control" type="text" id="state" name="campground[state]" value="<%= campground.state %>" required>
                <div class="invalid-feedback">
                    Please enter a valid campground state
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Campground Image</label>
                <input class="form-control" type="file" name="image" id="image" multiple>
                <div class="invalid-feedback">
                    Please enter a valid campground image
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description:</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required><%=campground.description %></textarea>
                <div class="invalid-feedback">
                    Please enter a valid campground description
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">price:</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" id="price" name="campground[price]" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" value="<%= campground.price %>" required>
                    <div class="invalid-feedback">
                    Please enter a valid campground price
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="container d-flex">
                    <div class="row">
                        <% campground.image.forEach((image, index) => { %>
                            <div class="form-check-inline">
                                <img src="<%= image.thumbnail %>" class="img-thumbnail" alt="">
                                <input type="checkbox" name="deleteImages[]" id="image-<%= index %>" value="<%= image.filename %>">
                            </div>
                            <label for="image-<%= index %>">Delete</label>
                        <% }) %>
                    </div>
                </div>
            </div>
            <button class="btn btn-info">Save</button>
            <a class="btn btn-outline-danger" href="/campgrounds/<%= campground._id %>  ">Cancel</a>
        </form>
        
    </div>
</div>